body {
    font-size: 16px;
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

.mainframe {
    display: flex;
    margin-top: 10px;
}

.box {
    background-color: gray;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.frame {
    flex-grow: 9.9;
}

.Logo_Navigation {
    display: flex;
}

.Logo {
    text-align: left;
    flex-grow: 3;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.Navigation {
    flex-grow: 7;
    height: 30px;
    line-height: 30px;
}

.Header_Banner {
    height: 100px;
    line-height: 100px;
}

.IntroTextArea {
    height: 90px;
    line-height: 90px;
}

.bigbox {
    display: flex;
    justify-content: space-between;
    line-height: 200px;
    font-size: 20px;
}

.bigbox div {
    width: calc(33.3333% - 30px);
    height: 200px;
}

.background_text {
    flex-grow: 0.05;
    transform: rotate(-90deg);
    height: 500px;
    line-height: 500px;
    font-size: 20px;
    color: rgb(163, 163, 137);
}